<div class="categories-section sec-padding" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start"  class="p-0">
    <div fxFlex="100" fxFlex.gt-sm="50" class="left-section">
        <div class="item mb-15" style="background:url('assets/images/agc.jpg');background-repeat: no-repeat;background-position: center;background-size: contain;">
          <div class="product">
            <img src="assets/images/agc.jpg" style="opacity:0" alt="">
          </div>
          <!--<div class="product-info">
              <h4><a href="">Emergency & Exit Lights  </a></h4>
            <ul>

                <li><a href="">Central Battery Systems</a> </li>
                <li><a href="">Central Monitoring Systems</a> </li>
                    <li><a href="">Emergency Lights</a> </li>
                        <li><a href="">Exit Lights</a> </li>
                            <li><a href="">LED Emergency Lights</a> </li>
                                <li><a href="">LED Exit Lights</a> </li>
            </ul>
          </div>-->
        </div>
        <div class="banerCo" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start">
            <div class="item mr-7 h" style="background:url('assets/images/gpgc.jpg');background-repeat: no-repeat;background-position: center;background-size: contain;">
                <div class="product">
                    <img src="assets/images/gpgc.jpg" style="opacity:0" alt="">
                  </div>
            </div>
            <div class="item ml-7 h" style="background:url('assets/images/itgc.png');background-repeat: no-repeat;background-position: center;background-size: contain;">
                <div class="product">
                    <img src="assets/images/itgc.png" style="opacity:0" alt="">
                  </div>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="50" class="right-section">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start">
            <div class="item mr-7 h" style="background:url('assets/images/xbgc.jpg');background-repeat: no-repeat;background-position: center;background-size: contain;">
                <div class="product">
                    <img src="assets/images/xbgc.jpg" style="opacity:0" alt="">
                  </div>
            </div>
            <div class="item ml-7 h" style="background:url('assets/images/ngc.png');background-repeat: no-repeat;background-position: center;background-size: contain;">
                <div class="product">
                    <img src="assets/images/ngc.png" style="opacity:0" alt="">
                  </div>
            </div>
        </div>
        <div class="item mt-15" style="background:url('assets/images/ptgc.jpg');background-repeat: no-repeat;background-position: center;background-size: contain;">
            <div class="product">
              <img src="assets/images/ptgc.jpg" style="opacity:0" alt="">
            </div>
          </div>
      </div>
</div>
