<div class="info-bar-wraper sec-padding">
  <div class="container">
    <div fxLayout="row wrap" class="info-bar" fxLayoutAlign="center center">
      <div class="card-wrap" fxFlex="100" fxFlex.gt-md="20" fxFlex.gt-xs="45">
        <div class="light-block" fxLayout="column"  fxLayoutAlign="start center">
         <div class="icon">
          <button mat-fab [disableRipple]="true">1</button>
         </div>
          <div class="content">
            <p>REGISTRATE</p>
            <span class="text-muted m-0">Con solo tu correo electronico!</span>
          </div>
        </div>
      </div>
      <div class="card-wrap" fxFlex="100" fxFlex.gt-md="20" fxFlex.gt-xs="45">
        <div class="light-block" fxLayout="column"  fxLayoutAlign="start center">
          <div class="icon">
            <button mat-fab [disableRipple]="true">2</button>
          </div>
          <div class="content">
            <p>DEPOSITA</p>
            <span class="text-muted m-0">Tenemos varias opciones de pago!</span>
          </div>
        </div>
      </div>
      <div class="card-wrap" fxFlex="100" fxFlex.gt-md="20" fxFlex.gt-xs="45">
        <div class="light-block" fxLayout="column"  fxLayoutAlign="start center">
          <div class="icon">
            <button mat-fab [disableRipple]="true">3</button>
          </div>
          <div class="content">
            <p>APUESTA</p>
            <span class="text-muted m-0">Solo 1$ por jugada!</span>
          </div>
        </div>
      </div>
      <div class="card-wrap" fxFlex="100" fxFlex.gt-md="20" fxFlex.gt-xs="45">
        <div class="light-block no-bd" fxLayout="column"  fxLayoutAlign="start center">
          <div class="icon">
            <button mat-fab [disableRipple]="true">4</button>
          </div>
          <div class="content">
            <p>GANA</p>
            <span class="text-muted m-0">Son muchas las posibilidades de obtener dinero rapido!</span>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="subscribe">
      <div class="subscribe-wrap" fxLayout="row" fxLayoutAlign="space-between center" >
        <p>Check for the existing products at the moment, and new discounts</p>
        <div class="form-wrap" fxLayout="row">
        <div class="inputIc"> <input type="text" id="name" name="name" placeholder="Search for desired products" ></div>

          <button mat-raised-button color="primary">SUBSCRIBE</button>
        </div>
      </div>
    </div>-->
  </div>
</div>
