<footer class="footer sec-padding">
  <div class="container">
      <div class="footer-wrapper" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="50" class="footer-widget about-widget" fxLayoutAlign="center center">
          <a class="logo" href="/home"><img src="assets//images/logo-02-01.png" alt="Awesome Image"></a>
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean malesuada fringilla sem, at dictum lectus ultricies quis. Etiam eu bibendum orci. Aliquam erat volutpat.</p>
          <div class="link"><a href="#">MORE ABOUT US</a> </div>-->
        </div>

        <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget subscribe-widget">
          <div class="title" fxLayoutAlign="center center">
            <h5>Subicribete al Newsletter</h5>
          </div>
          <form action="#">
            <p fxLayoutAlign="center center">Enterate de las ultimas noticias.</p>
            <div fxLayout="column" class="newsletter-widget">
              <input type="text" placeholder="Ingresa tu correo electrónico">
              <button type="submit" class="ped-btn-footer">SUBCRIBETE</button>
            </div>
          </form>
        </div>

          <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="50" ngClass.sm="mt-2" ngClass.xs="mt-2" class="footer-widget subscribe-widget">
            <div class="title" fxLayoutAlign="center center">
              <h5>Contactanos</h5>
            </div>
            <div fxLayout="row" class="tel-box" fxLayoutAlign="center center">
              <div class="icon"><i class="fa fa-envelope"></i></div>
              <div class="text">
                <p><a href="mailto:mybidhost@gmail.com">mybidhost@gmail.com</a></p>
              </div>
            </div>

            <ul fxLayout="row" class="social list-inline" fxLayoutAlign="center center">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>






      </div>
  </div>
</footer>
