<div class="my-account sec-padding">
  <div class="container">
      <mat-card fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center"  class="p-0">
          <div class="my-account-wrap p-0" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center" >
              <div class="login-wrapper pr-50" fxFlex="100" fxFlex.gt-md="100" fxFlex.md="100">
                <div class="login-body">
                  <p>
                    <a [routerLink]="['/user/login']"> << Volver al inicio de sesión</a>
                  </p>
                  <div class="alert-success" *ngIf='success==true'>
                    Se envió link de recuperación con éxito!
                    <button type="button" class="alert-close" aria-label="Close"><span aria-hidden="true">×</span></button>
                  </div>
                  <div class="alert-fail" *ngIf='success==false'>
                    El email indicado no se encuentra registrado en el sistema. Intente nuevamente con otro email
                    <button type="button" class="alert-close" aria-label="Close"><span aria-hidden="true">×</span></button>
                  </div>
                  <div class="title">
                    <h3>Recuperar Contraseña</h3>
                  </div>
                  <form fxLayout="row wrap" [formGroup]="recoveryGroup" (ngSubmit)="recover()"
                  (keydown)="keyDownFunction($event)">
                      <div  fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                          <mat-form-field class="w-100">
                              <input matInput placeholder="Email" formControlName="email" name="email" required>
                              <mat-error *ngIf="recoveryGroup.controls.email.hasError('required')">El Email es requerido</mat-error>
                              <mat-error *ngIf="recoveryGroup.controls.email.hasError('email')">Ingrese un Email válido</mat-error>
                            </mat-form-field>
                      </div>
                      <div class="button-wrap" fxFlex="100" fxFlex.gt-sm="100" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                        <br>
                          <button class="btn-project" mat-raised-button color="accent" type="submit">Enviar link de Recuperación</button>
                        </div>
                      </form>
                </div>
                </div>
        </div>
      </mat-card>

  </div>
</div>
